# Deep Dive into Operators

outline :

1. Intro
2. Arthmetic Operators (+ , - ,* , / ,% ,modulus, exponentiation)
3. Comparison Operators (== , not equal to, greater than,less than)
4. Logical operators (AND, OR , NOT)
5. Practical Examples and Common Error

In [ ]:
a=10
b=5

a == b

False

In [2]:
## Arthmetic Operators

a = 10 
b= 5

add = a + b
sub = a - b 
mult = a *b
div  = a/b
floor_div = a//b
modulus = a%b
exponent = a**b 

print(add)
print(sub)
print(mult)
print(div)
print(floor_div)
print(modulus)
print(exponent)

15
5
50
2.0
2
0
100000

In [ ]:
# Comparison Operators

##  == 

a= 10
b= 10

a == b

True

In [5]:
str1 = "Malik"

str2 = "Malik"

str1 == str2

True

In [7]:
str3 = "Malik"

str4 = "Malik"

str3 != str4

False

In [8]:
# greater than > 

num1 = 45
num2 = 55

num1 > num2

False

In [11]:
# greater than or equal to

num3 = 50
num4 = 56 

num3 >= num4

False

In [14]:
# Logical Operators

# AND , Not , OR

X = False
Y = True 

result = X and Y

In [15]:
print(result)

False

In [16]:
# OR 

X = False 
Y = False 

result = X or Y 

print(result)

False

In [17]:
X = False

not X

True

In [21]:
age  = 19

income = 20000

if age > 18 or income > 50000:
    print("Eligible for Loan")
else:
    print("Not Eligible")

Eligible for Loan

In [23]:
## Simple Calculator

num1 = float(input("Enter first number : "))
num2 = float(input("Enter Second number :"))


# Performing arthmetic operations

addition = num1 + num2
subtraction = num1 - num2 
multiplication = num1 * num2 
floor_division = num1 // num2
expon  = num1 ** num2

# Display Results

print ( "Addition : ", addition)
print ( "Subtraction : ", subtraction)
print ( "multiplication : ", multiplication)
print ( "floor_division : ", floor_division)
print ( "exponentiation : ", expon)

Addition :  50.0
Subtraction :  -30.0
multiplication :  400.0
floor_division :  0.0
exponentiation :  1e+40

In [24]:
X = 10/3

X

3.3333333333333335

In [25]:
X = 10 // 3 

X

3

In [27]:
X = -10 // 3 

X

-4

In [29]:
7.5 // 2

3.0

In [30]:
print(2 ** 3)

8

# Conditional Statements (IF , ELIF, ELSE)

In [7]:
## IF statement

age = 19

# if statement evaluates the condition and execute the block of code if the condition is true.

if age >= 18:
    print("You are allowed to vote in the election")

You are allowed to vote in the election

In [ ]:
## else statement

age = 16

# else statement evaluates the condition and execute the block of code if the condition is Fasle.

if age >= 18:
    print("You are eligible for voting ")
else:
    print("You are a child")

You are a child

- child : younger than 13
- teenager : <= 19
- adult : >= 20

In [ ]:
# elif "else if"
# The elif statement allows you to check multiple conditions. 

age  = int(input("What am I by my age?"))

if age <= 13 :
    print("You are a Child")
elif age <= 19:
    print("You are a teenager")
else:
    print("You are an adult")

You are an adult

In [16]:
## Nested Conditional Statement 
# You can place one or more if , elif, else statement inside another if, elif, else statement to create nested conditional statement.

# Example number even, odd, negative

num = int(input("Enter the number"))

if num > 0:
    print("The number is positive")
    if num%2==0:
        print("This number is even")
    else:
        print("This number is odd")
else:
    print("The number is either 0 or negative")

The number is positive
This number is even

# Examples we will work on

- Ticket Pricing System # Assignment 3
- Employee Bonus System
- Determine leap Year
- User Login System

# Employee Bonus System

if rating  >= 4.5 
    if yos > 10 = 20%
    elif > 5 = 15%
    else : 10%

elif rating >= 3.5
    if yos > 10 = 15%
    elif > 5 = 10%
    else : 5%
    
else:
    bonus : 0

In [28]:
years_of_service = int(input("Enter years of service: "))
performance_rating = float(input("Enter performance rating (1.0 - 5.0) :"))

# Determine bonus percentage
if performance_rating >= 4.5:
    if years_of_service > 10:
        bonus_percentage = 20 
    elif years_of_service > 5:
        bonus_percentage = 15
    else:
        bonus_percentage = 10
elif performance_rating >= 3.5:
    if years_of_service > 10:
        bonus_percentage = 15 
    elif years_of_service > 5:
        bonus_percentage = 10
    else:
        bonus_percentage = 5
else:
    bonus_percentage = 0

#calculate bonus amount
salary = float(input("Enter Current salary:"))

bonus_amount = salary * bonus_percentage / 100

print(bonus_percentage)
print("Bonus Amount: Rs.{:.2f}".format(bonus_amount))

10
Bonus Amount: Rs.32.10

# Assignment # 3

In [ ]:
## Determine the ticket price based on age and whether the person is student
# Ticket price should be based on age and status

# 1 Take user input

# age =
# is_student = .....  .lower()


# agr age 5 se kam hai tou ticket free 

# ya phir 12 se kam hai tou 10 rupay

# ya phir 17 se kam hai # nested
    # or wo student  
    # tou phir 12 rupay 
    # warna 15 rupay 

# ya phir 64 se kam haai 
    # or wo student hai
    # to phir 18
    # warna 25

# Warna :
    # 20 



print("Ticket Price :", price)