### Indentation

In [46]:
## Python uses indentation to define blocks of code. Consistent use of spaces ( commonly 4 spaces) or a tab is required.

age = 32

if age > 30 :
    print(age)

32

### Single line comment

In [29]:
## This is the comment for my code
print("Hello World")

Hello World

### Line Continuation

In [42]:
total  = 10 + 50 + 70 + 50 + 60 + \
90 + 100 + 4 + 6 + 7 \
+ 50


total

497

##### Multiple Statements in one line

In [65]:
x=5;y=10;z=x+y

In [67]:
z

15

In [69]:
age = 32 
# 32 is an integer 
# age is a variable

In [71]:
name  = "Malik"  ## name is a string

In [73]:
type(age)

int

In [75]:
type(name)

str

In [101]:
a = 10 
b = 10

In [103]:
a = b

In [87]:
a = c

NameError: name 'c' is not defined

In [95]:
if True:
    print("Correct Indentation")

Correct Indentation

####Conclusion

Understanding the syntax and semantics of python is crucial for writing correct and meaingful program. Syntax ensures the code is properly structured, while semantics ensures the code behaves as expected

## Python Variables

Variables

It is used to store data that can be referenced as manipulated in a program.

In [107]:
a = 10

a

10

In [109]:
a = a + 5

a

15

In [111]:
Wallet = 1000

In [119]:
Wallet = Wallet - 500

In [121]:
Wallet

500

In [123]:
name = "Malik"

In [125]:
name

'Malik'

In [127]:
height = 5.1 # floating number

In [129]:
height

5.1

In [131]:
isstudent = True

In [135]:
print("My age is", age)

My age is  32

In [137]:
data = 10

In [139]:
is_data = 40

In [141]:
is_data

40

In [143]:
2age = 40

SyntaxError: invalid decimal literal (216223266.py, line 1)

In [145]:
first-name = "Malik"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4057077847.py, line 1)

In [147]:
@name = "Malik"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (3978668062.py, line 1)

In [157]:
Malik 21 = "Khan"

SyntaxError: invalid syntax (1007003872.py, line 1)

In [161]:
Malik21 = "Malik"


Malik21

'Malik'

In [153]:
wejdsdss = 2343

In [155]:
wejdsdss

2343

# Assignment # 1

Skills  needed :

1. How to create a variable 
2. How to calculate 2 numbers 2+2 a+a 
3. How to print a value print("Substraction : ",substract)

Instruction :

## We have to create a simple calculator 

1. create a variable num1 which have value  10
2. create a variable num2 which have value 20

3. Create a variable sum and in that add num1 and num2
4. Create a variable divide and in that divide num1 and num2
5. Create a variable multiply and in that multiply num1 and num2


6. Print the value of variable sum
7. Print the value of variable divide
8. Print the value of variable multiply