In [2]:
# Solving Multiplication Assignment

#Ask the user to enter the number
num = int(input("Enter a number: "))

# Use a for loop to print the multiplication table
for i in range(1,11):
    print(f"{num} x {i} = {num* i}")

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [3]:
# Example 4 Collecting User feedback

# Use a list to collect and analyze user feedback

#Collecting user feedback
feedback = ["Great Service!", "Very satisfied","Could be better","Excellent experience"]

# add new feedback
feedback.append("Not happy with the service")

#Couting specific feedback
positive_feedback_count = sum(1 for comment in feedback if "great" in comment.lower() or "excellent" in comment.lower())
print(f"Positive Feedback Count: {positive_feedback_count}")

# Print all the feedback
print("User Feedback: ")

for comment in feedback:
    print(f" - {comment}")

Positive Feedback Count: 2
User Feedback:
 - Great Service!
 - Very satisfied
 - Could be better
 - Excellent experience
 - Not happy with the service

### Tuples

- Intro
- Creating Tuple
- Accessing tuple elements
- Tuple Operatios
- Immutable Nature of Tuples
- Tuple Method
- Packing and unnpackig Tuples
- Nested Tuples
- Practical Examples


#### Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [4]:
# creating a tuple

empty_tuple = ()

print(empty_tuple)

type(empty_tuple)

()

tuple

In [5]:
lst =list()
type(lst)

list

In [6]:
tpl = tuple()
type(tpl)

tuple

In [7]:
numbers = tuple([1,2,3,4,5])

numbers

(1, 2, 3, 4, 5)

In [8]:
list((1,2,3,4,5))

[1, 2, 3, 4, 5]

In [9]:
mixed_tuple = (1,"Hello World", 3.14, True)

print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [10]:
# Accessing Tuple elements

numbers

(1, 2, 3, 4, 5)

In [11]:
print(numbers[2])

print(numbers[-1])

3
5

In [16]:
numbers[::-1]

(5, 4, 3, 2, 1)

In [18]:
# Tuple Operations

concat_tuple = numbers + mixed_tuple

print(concat_tuple)

(1, 2, 3, 4, 5, 1, 'Hello World', 3.14, True)

In [19]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [20]:
numbers * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [21]:
# Immutable nature of tuple

# Tuples are immutable, meaning their elements cannot be changed once assignned.

lst = [1,2,3,4,5]

lst[1] = "Malik"

print(lst)

[1, 'Malik', 3, 4, 5]

In [23]:
numbers[1] = "Malik"

TypeError: 'tuple' object does not support item assignment

In [26]:
numbers

(1, 2, 3, 4, 5)

In [25]:
## Tuples Methods

print(numbers.count(1))

print(numbers.index(3))

1
2

In [27]:
## Packing and Unpacking

## packing

packed_tuple = 1,"Hello",3.14

print(packed_tuple)

(1, 'Hello', 3.14)

In [28]:
# unpacking a tuple

a,b,c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

## Dictrionaries

Dictionaries are ordered collection of items. They store data in key-value pairs. Keys must be unique and immutable (eg. string, numbers or tuples), while values can be of any type

In [29]:
## Creating Dictionaries

empty_dict = {}

type(empty_dict)

dict

In [30]:
student = {"name" : "Malik", "age" : 30, "grade": 24}

print(student)

{'name': 'Malik', 'age': 30, 'grade': 24}

In [31]:
# Single key is always used

student =  {'name': 'Malik', 'age': 30, 'name': 24}

print(student)

{'name': 24, 'age': 30}

In [32]:
student =  {'name': 'Malik', 'age': 30, 'Grade': 'A'}

print(student)

{'name': 'Malik', 'age': 30, 'Grade': 'A'}

In [33]:
print(student['Grade'])

A

In [34]:
print(student['age'])

30

In [35]:
# Accessing using get() method

print(student.get('Grade'))

A

In [36]:
print(student.get('name'))

Malik

In [39]:
print(student.get('last_name',"Not Available"))

Not Available

In [41]:
## Modifying dictionary elements

# Dictionaries are mutable, so you can add, update or delete elements

print(student)

{'name': 'Malik', 'age': 30, 'Grade': 'A'}

In [42]:
student["age"] = 33  

print(student)

{'name': 'Malik', 'age': 33, 'Grade': 'A'}

In [43]:
student["address"] = "Pakistan"  

print(student)

{'name': 'Malik', 'age': 33, 'Grade': 'A', 'address': 'Pakistan'}

In [44]:
del student['Grade']

In [45]:
student

{'name': 'Malik', 'age': 33, 'address': 'Pakistan'}

In [47]:
key = student.keys()

key

dict_keys(['name', 'age', 'address'])

In [48]:
value = student.values()

value

dict_values(['Malik', 33, 'Pakistan'])

In [50]:
item = student.items()

print(item)

dict_items([('name', 'Malik'), ('age', 33), ('address', 'Pakistan')])