# Data Types

- Data types determine the types of operations that can be performed on the data, the value that the data can take and the amount of memory needed to store the data.

- Data type ensures that data is stored in an efficient way

# Outline 

- Intro to data types
- Improtantance of data type
- Basic Data Types
- Advance data types
- Tyep Convrsion
- Practical Examples

In [ ]:
# integer example
age = 35

In [2]:
type(age)

int

In [ ]:
# floating point
height = 5.11

type(height)

float

In [ ]:
# string type
name = "Malik"

type(name)

str

In [5]:
text = "my name is shahzeb and I am professor at Tecrix"

type(text)

str

In [6]:
## Boolean data type

is_true = True 

type(is_true)

bool

In [9]:
a = 10

b = 9

type(a==b)

bool

In [10]:
a==b

False

In [11]:
## Common errors

result  = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [12]:
result = "Hello" + str(5)

print(result)

Hello5

# Variable 

Variable is used to store datan that can be referenced and manipulated in program. Variables are created when you assign a value to them.

In [17]:
age = 32
height = 6.1
name = "Khan"


print("My Age is :" ,age)
print("Height :" ,height)
print("Name :" ,name)

My Age is : 32
Height : 6.1
Name : Khan

In [18]:
name = "Malik"
 

name_Cast = "Malik Awan"

In [20]:
name_cast

NameError: name 'name_cast' is not defined

In [ ]:
@name  = "Malik"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1106917188.py, line 1)

In [22]:
first-name = "Malik"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (4057077847.py, line 1)

In [23]:
Muzammil_height = 6.1

In [24]:
Muzammil_height

6.1

In [25]:
type(Muzammil_height)

float

In [26]:
name = 10

In [38]:
# Setting Input

Pin = int(input("Please enter your 4 digit Pin"))

In [36]:
Pin

5454

In [37]:
type(Pin)

int

## Assignment 1 ( Simple Calculator )

I want you to build a basic calculator that can take 2 numbers as input and then do the addition , subtraction, multiplication and division.

In [ ]:
num1 = this should be float and you have to give option to use "Enter first number"

num2 = this should be float and you have to give option to use "Enter second number"



sum = num1 num2
subtraction = 
multiply = 
division = 


print sum

print subtraction 

print multiply

print division

In [ ]:
Sum : 342423
Subtraction : 32432
.
.
.