In [4]:
# While Loops

# The while loop continues to execute as long as the condition is True

count = 1

while count<5:
    print(count)
    count = count+1

1
2
3
4

In [6]:
## break / continue / pass

# Loop control statements

#break

# The break statement exits the loop prematurely

# break statement

for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [7]:
# The continue statement skip the current iteration and continue with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [11]:
# pass
# The pass statement is a null operation
# It does nothing

for i in range(5):
    if i == 3:
        print("The passed number is", i)
        pass
    print(i)

0
1
2
The passed number is 3
3
4

In [14]:
## Nested Loops

# a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"I : {i} and j : {j}")

I : 0 and j : 0
I : 0 and j : 1
I : 1 and j : 0
I : 1 and j : 1
I : 2 and j : 0
I : 2 and j : 1

In [15]:
# Example - Calculate the sum of first N natural numbers using a while and for loop

n = 10
sum = 0
count = 1

while count<=n:
    sum =sum+count
    count=count+1
print("Sum of first 10 natural number: ", sum)

Sum of first 10 natural number:  55

### Nested Loop Assignment

In [ ]:
 # Example - Please find the output showing Prime numbers between 1 and 100
# These are the no. that are only divisible by 1 or the no. itself
for agr num range main hai (1,101):
    if number 1 se bara hai:

### Introduction to List

- Lists are ordered
- Mutable collection of items
- They can contain items of different data types

In [16]:
lst = []

print(type(lst))

<class 'list'>

In [17]:
names  = ["Malik","Ali","Qasim",1,2,3,4,5,6,6.6]

print(names)

['Malik', 'Ali', 'Qasim', 1, 2, 3, 4, 5, 6, 6.6]

In [18]:
mixed_list = [1,"Hello",3.14,True]

print(mixed_list)

[1, 'Hello', 3.14, True]

In [19]:
# Accessing list elements 

fruits =  ["apple","banana","cherry","grapes","mango"]

In [20]:
print(fruits[0])

apple

In [21]:
print(fruits[2])

cherry

In [23]:
print(fruits[-2])

grapes

In [24]:
print(fruits[1:])

['banana', 'cherry', 'grapes', 'mango']

In [25]:
print(fruits[1:3])

['banana', 'cherry']

In [26]:
# Modifyinng the list elements

fruits

['apple', 'banana', 'cherry', 'grapes', 'mango']

In [27]:
fruits[1] = "watermelon"

print(fruits)

['apple', 'watermelon', 'cherry', 'grapes', 'mango']

In [28]:
fruits[1:] = "watermelon"

fruits

['apple', 'w', 'a', 't', 'e', 'r', 'm', 'e', 'l', 'o', 'n']

In [29]:
fruits = ['apple', 'watermelon', 'cherry', 'grapes', 'mango']

In [30]:
## List Methods

fruits.append("orange") #add an item to the end

print(fruits)

['apple', 'watermelon', 'cherry', 'grapes', 'mango', 'orange']

In [31]:
fruits.insert(1,"Banana")

print(fruits)

['apple', 'Banana', 'watermelon', 'cherry', 'grapes', 'mango', 'orange']

In [33]:
fruits.append("Banana")

fruits

['apple',
 'Banana',
 'watermelon',
 'cherry',
 'grapes',
 'mango',
 'orange',
 'Banana',
 'Banana']

In [39]:
fruits.remove("Banana") # It removes first occurance of an itme

print(fruits)

['apple', 'cherry', 'grapes', 'mango', 'orange', 'watermelon']

In [35]:
#Remove and return the last element

popped_fruits = fruits.pop()

print(popped_fruits)

print(fruits)

Banana
['apple', 'watermelon', 'cherry', 'grapes', 'mango', 'orange', 'Banana']

In [43]:
## Sort the list in ascending order


fruits.sort()
fruits

['apple',
 'banana',
 'banana',
 'cherry',
 'grapes',
 'mango',
 'orange',
 'watermelon']

In [49]:
fruits.insert(2,"banana")

print(fruits)

['apple', 'banana', 'banana', 'banana', 'banana', 'cherry', 'grapes', 'mango', 'orange', 'watermelon']

In [47]:


to_remove = 'banana'

new_list = [item for item in fruits if item != to_remove]

print(new_list)

['apple', 'cherry', 'grapes', 'mango', 'orange', 'watermelon']

In [50]:
fruits

['apple',
 'banana',
 'banana',
 'banana',
 'banana',
 'cherry',
 'grapes',
 'mango',
 'orange',
 'watermelon']

In [54]:
fruits = ['apple','apple', 'cherry', 'grapes', 'mango', 'orange', 'watermelon']

unique_fruits = []

for fruit in fruits:
    if fruit not in unique_fruits:
        unique_fruits.append(fruit)
print(unique_fruits)

['apple', 'cherry', 'grapes', 'mango', 'orange', 'watermelon']

In [55]:
fruits

['apple', 'apple', 'cherry', 'grapes', 'mango', 'orange', 'watermelon']

In [56]:
fruits.sort()

In [58]:
fruits.reverse()

In [59]:
fruits

['watermelon', 'orange', 'mango', 'grapes', 'cherry', 'apple', 'apple']

In [60]:
fruits.clear() # removing all items from the list

In [61]:
fruits

[]

In [62]:
# Slicing list

numbers = [1,2,3,4,5,6,7,8,9,10]

print(numbers[2:5])

[3, 4, 5]

In [63]:
print(numbers[:5])

[1, 2, 3, 4, 5]

In [64]:
print(numbers[5:])

[6, 7, 8, 9, 10]

### List Comprehension

In [ ]:
#Basic Syntax[expression for item in iterable]

#with conditional logic[expression for item in iterable if condition]

#Nested List Comprehension[expression for item1 in iterable1 for item 2 in iterable2]

In [65]:
## Basic List Comprehension

square = [num ** 2 for num in range(10)]

print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# List Comprehensionn with condition

lst = []
for i in range(10):
    if i%2==0:
        lst.append(i)
print(lst)

[0, 2, 4, 6, 8]

In [67]:
even_num = [num for num in range(10) if num%2==0]

print(even_num)

[0, 2, 4, 6, 8]

Example 1 : Manage a to do list (Assignment)
Example 2 :Orgaanizing Student Grades
Example 3 :Managing an inventory
Example 4 : Collecting user feedback

### Assignment : Manage a to do list

In [ ]:
1. create a variable with to_do_list name
2. inside this variable add few list of tasks ("Buy Food", "go for walk") add atleast 4 task
3. Adding few tasks ("Schedule a meeting","Go for a run")
4. Remove Buy Food from the list

5. Create if statement

agr "Buy Food" in to_do_list:
print("")

print to do list

In [77]:
# Example 2 : Organizing Student Grades
# Create a list to store and calculate average grades for students

# Organizing student grades

grades  = [86,90,50,100,35]

# adding new grades

grades.append(95)

grades

[86, 90, 50, 100, 35, 95]

In [78]:
highest_grade = max(grades)
lowest_grade = min(grades)

print(f"Highest Grade : {highest_grade}")
print(f"Lowest Grade : {lowest_grade}")

Highest Grade : 100
Lowest Grade : 35

In [79]:
# Example 3 : Managing an inventory

# Use a list to manage inventory items in a store

inventory = ['watermelon', 'orange', 'mango', 'grapes', 'cherry', 'apple']


# Adding a new item 
inventory.append("strawberries")

inventory

['watermelon', 'orange', 'mango', 'grapes', 'cherry', 'apple', 'strawberries']

In [80]:
inventory.remove("orange")

inventory

['watermelon', 'mango', 'grapes', 'cherry', 'apple', 'strawberries']

In [86]:
## checking if an item is in the stock

item = "apple"

if item in inventory:
    print(f"{item} is in the stock.")
else:
    print(f"{item} is out of stock.")

apple is in the stock.

In [ ]:
next : Tupes -> Dictionaries ->