# Practice

In [1]:
# create a login page

stord_username = "admin"
stord_password = "password"

username= input("Enter username: ")
password= input("Enter password: ")

if username == stord_username and password == stord_password:
    print("Login successful")
else:
    print("Login failed")

Login successful

In [2]:
range (5)

range(0, 5)

In [2]:
for i in range(5):
    print(i)

0
1
2
3
4

In [9]:
for i in range(18,-1):
    print(i)

In [10]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [ ]:
age = 'Muzamml'
for i in :
    print(i)

M
u
z
a
m
m
l

In [8]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [14]:
# for loop use in floating
age = 67.786
for i in range(int(age)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66

In [15]:
oder= ["oder1", "order2", "order3", "order4", "order5"]
for i in oder:
    print(f"seanding confirmission oders {i}....")

seanding confirmission oders oder1....
seanding confirmission oders order2....
seanding confirmission oders order3....
seanding confirmission oders order4....
seanding confirmission oders order5....

In [22]:
count= 0
while count <= 5:
    print(count)

    count += 1

0
1
2
3
4
5

In [8]:
# brack/ continue/ pass
# loop control statement
# break

for i in range(100):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [12]:
#cobtinue
for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

In [14]:
#nested loop
# a loop inside a loop
for i in range(5):
    for j in range(2):
        print(f"i = {i} and j = {j}")

i = 0 and j = 0
i = 0 and j = 1
i = 1 and j = 0
i = 1 and j = 1
i = 2 and j = 0
i = 2 and j = 1
i = 3 and j = 0
i = 3 and j = 1
i = 4 and j = 0
i = 4 and j = 1

In [15]:
n= 10
sum = 0
count = 1
while count <= n:
    sum += count
    count += 1
print(f"The sum of first {n} natural numbers is {sum}")

The sum of first 10 natural numbers is 55

In [18]:
# find prime number
# prime number is a number that is only divisible by 1 and itself
for i in range(1,101):
    if i > 1:
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            print(f"{i} is Prime number")

2 is Prime number
3 is Prime number
5 is Prime number
7 is Prime number
11 is Prime number
13 is Prime number
17 is Prime number
19 is Prime number
23 is Prime number
29 is Prime number
31 is Prime number
37 is Prime number
41 is Prime number
43 is Prime number
47 is Prime number
53 is Prime number
59 is Prime number
61 is Prime number
67 is Prime number
71 is Prime number
73 is Prime number
79 is Prime number
83 is Prime number
89 is Prime number
97 is Prime number

In [ ]:
print(" Prime Numbers from 1 to 101 \n")

for num in range(2, 101):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(f"{num} is Prime")

 Prime Numbers from 1 to 101

2 is Prime
3 is Prime
5 is Prime
7 is Prime
11 is Prime
13 is Prime
17 is Prime
19 is Prime
23 is Prime
29 is Prime
31 is Prime
37 is Prime
41 is Prime
43 is Prime
47 is Prime
53 is Prime
59 is Prime
61 is Prime
67 is Prime
71 is Prime
73 is Prime
79 is Prime
83 is Prime
89 is Prime
97 is Prime
101 is Prime

In [3]:
lst = []
for i in range(1, 10):
    if i % 2 == 0:
        lst.append(i)
print(lst)

[2, 4, 6, 8]

In [4]:
shift = ["morning", "afternoon", "night"]
for i in shift:
    print(i)

morning
afternoon
night

In [12]:
shift = ["morning", "afternoon", "night"]
for i in shift:
    print(i)

morning
afternoon
night

In [1]:
lst= ["morning", "afternoon", "night"]
shift = [num for num in lst if num != "afternoon"]
print(shift)

['morning', 'night']

In [ ]:
muz = ["morning", "afternoon", "night"]

In [2]:
num =7 
if num % 2 == 0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

7 is odd

In [6]:
admin="admin"
login = True

if admin == admin:
   if login:
         print("Login successful")

Login successful

In [ ]:
is_student = True
has_notebook = False
print(f"yo can enter the class: {is_student and has_notebook}")

yo can enter the class: False

In [9]:
corect_pin ="1234"
attempt = 0
max_attempt = 3
while attempt < max_attempt:
    pin = input("Enter your pin: ")
    if pin == corect_pin:
        print("Access granted. Welcome!")
        break
    else:
        print("Incorrect pin. Please try again.")
        attempt += 1
if attempt == max_attempt:
    print("Max attempts reached. you are locked out.")

Access granted. Welcome!

In [12]:
temp = float(input("Enter the temperature in Celsius: "))
if temp < 0:
    print("It's freezing!")
elif temp <= 10:
    print("It's cold!")
elif temp <= 20:
    print("It's warm!")
elif temp <= 30:
    print("It's hot!")
elif temp <= 40:
    print("It's very hot!")
else:
    print("It's extremely hot!")

It's warm!

In [15]:
username = "Muzammal"
password = "1234"
input_username = input("Enter your username: ").title()
input_password = input("Enter your password: ")
if input_username == username and input_password == password:
    print("Login successful")
else:
    print("Login failed")

Login failed

In [17]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [20]:
prime = [2, 3, 5, 7]
for i in prime:
    for j in range(1, 11):
        print(f"{i} X {j} = {i*j}")
    print("-----")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
-----
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
-----
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
-----
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
-----

In [21]:
students = {
    "Muzammal": ["Python", "Java"],
    "Ali": ["C++", "JavaScript"],
    "Sara": ["HTML", "CSS"],
    "John": ["Ruby", "PHP"]
}
for student, subjects in students.items():
    print(f"Student: {student}")
    for subject in subjects:
        print(f" - {subject}")

Student: Muzammal
 - Python
 - Java
Student: Ali
 - C++
 - JavaScript
Student: Sara
 - HTML
 - CSS
Student: John
 - Ruby
 - PHP

In [22]:
row = 5
for i in range(1, row + 1):
    print(" " * (row - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [2]:
write = [
    "   *     *       *         *     *   *",
    " *   *   *       *       *   *   *   *",
    " *   *   *       *       *   *   *   *",
    " *****   *       *       *****   *****",
    " *   *   *       *       *   *   *   *",
    " *   *   *****   *****   *   *   *   *",
]

for ALLAH in write:
    print(ALLAH)

   *     *       *         *     *   *
 *   *   *       *       *   *   *   *
 *   *   *       *       *   *   *   *
 *****   *       *       *****   *****
 *   *   *       *       *   *   *   *
 *   *   *****   *****   *   *   *   *

In [25]:
total =  0
for i in range(1, 11):
    total += i
print(f"The sum of first 10 natural numbers is {total}")

The sum of first 10 natural numbers is 55

In [26]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [31]:
students = {
    "Muzammal": [85, 90, 78],
    "Ali": [88, 92, 80],
    "Sara": [90, 95, 85],
    "John": [75, 80, 70],
}
for student, marks in students.items():
    total = 0
    for mark in marks:
        total += mark
    average = total / len(marks)
    if average >= 90:
        grade = "Excellent"
    elif average >= 80:
        grade = "Good"
    elif average >= 70:
        grade = "Average"
    elif average >= 60:
        grade = "Pass"
    elif average < 60:
        grade = "Need to improve"
    else:
        grade = "Poor"
    print(f"{student}'s Average: {average:.2f} - {grade}")

Muzammal's Average: 84.33 - Good
Ali's Average: 86.67 - Good
Sara's Average: 90.00 - Excellent
John's Average: 75.00 - Average

In [35]:
students = [
    {"name": "Muzammal", "marks": {"Python": 85, "Java": 90, "C++": 78}},
    {"name": "Ali", "marks": {"Python": 88, "Java": 92, "C++": 80}},
    {"name": "Sara", "marks": {"Python": 90, "Java": 95, "C++": 85}},
    {"name": "Fatima", "marks": {"Python": 88, "Java": 90, "C++": 92}},
]
def get_grade(percentage):
    if percentage >= 90:
        return "A+"
    elif percentage >= 80:
        return "A"
    elif percentage >= 70:
        return "B+"
    elif percentage >= 60:
        return "B"
    elif percentage >= 50:
        return "C+"
    elif percentage >= 40:
        return "C"
    else:
        return "F"
for student in students:
    name = student["name"]
    marks = student["marks"]
    total = 0
    fail_flag = False
    
    print(f"\nStudent: {name}")
    for subject, mark in marks.items():
        print(f"Subject: {subject}: {mark}")
        total += mark
        if mark < 40:
            fail_flag = True
    percentage = total / len(marks)
    grade = get_grade(percentage)
    
    print(f"Total Marks: {total}")

    print(f"Percentage: {percentage:.2f}%")
    
    print(f"Grade: {grade}")
    print("------------------")
    if fail_flag:
        print("Status: Failed in one or more subjects")
    elif grade == "A+":
        print("Excellent! Top performer!")
    elif grade in ["A", "B+"]:
        print("Status: Good performance")
    else:
        print("Status: Needs Improvement")

Student: Muzammal
Subject: Python: 85
Subject: Java: 90
Subject: C++: 78
Total Marks: 253
Percentage: 84.33%
Grade: A
------------------
Status: Good performance

Student: Ali
Subject: Python: 88
Subject: Java: 92
Subject: C++: 80
Total Marks: 260
Percentage: 86.67%
Grade: A
------------------
Status: Good performance

Student: Sara
Subject: Python: 90
Subject: Java: 95
Subject: C++: 85
Total Marks: 270
Percentage: 90.00%
Grade: A+
------------------
Excellent! Top performer!

Student: Fatima
Subject: Python: 88
Subject: Java: 90
Subject: C++: 92
Total Marks: 270
Percentage: 90.00%
Grade: A+
------------------
Excellent! Top performer!