While loop

A while loop executes a block of code as long as a condition is True.

Sytax

while condition: 

     block of code

In [2]:
count = 1
while count < 5:
     print(count)
     count += 1

1
2
3
4

In [4]:
user_input =""
while user_input.lower() != "exit":
    user_input = input("Type 'exit' to quit:")

Type 'exit' to quit: no
Type 'exit' to quit: no
Type 'exit' to quit: yes
Type 'exit' to quit: ok
Type 'exit' to quit: bhai mera sar chor do
Type 'exit' to quit: ni chor rehy
Type 'exit' to quit: kiya chahty ho
Type 'exit' to quit: kese maaf kro gy
Type 'exit' to quit: exit likho chor do gy
Type 'exit' to quit: ok
Type 'exit' to quit: likhta hoo
Type 'exit' to quit: exit

break Statement
 - break is used to exit the loop immediately.

In [5]:
for i in range(10):
    if i == 5:
        break 
    print(i)

0
1
2
3
4

continue Statement 
 - continue skips the current iteration and moves to the next.

In [6]:
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

1
3
5
7
9

pass Statement
 - pass does nothing; used as a placeholder

In [7]:
for i in range(5):
    if i == 3:
        pass
    print(i)

0
1
2
3
4

In [ ]:
Nested loops
 - A loop inside another loop.

In [8]:
for i in range(3):
    for j in range(2):
        print(f"I: {i}, J: {j}")

I: 0, J: 0
I: 0, J: 1
I: 1, J: 0
I: 1, J: 1
I: 2, J: 0
I: 2, J: 1

In [10]:
for i in range(10):
    for j in range(7):
        print(f"I: {i}, J: {j}")

I: 0, J: 0
I: 0, J: 1
I: 0, J: 2
I: 0, J: 3
I: 0, J: 4
I: 0, J: 5
I: 0, J: 6
I: 1, J: 0
I: 1, J: 1
I: 1, J: 2
I: 1, J: 3
I: 1, J: 4
I: 1, J: 5
I: 1, J: 6
I: 2, J: 0
I: 2, J: 1
I: 2, J: 2
I: 2, J: 3
I: 2, J: 4
I: 2, J: 5
I: 2, J: 6
I: 3, J: 0
I: 3, J: 1
I: 3, J: 2
I: 3, J: 3
I: 3, J: 4
I: 3, J: 5
I: 3, J: 6
I: 4, J: 0
I: 4, J: 1
I: 4, J: 2
I: 4, J: 3
I: 4, J: 4
I: 4, J: 5
I: 4, J: 6
I: 5, J: 0
I: 5, J: 1
I: 5, J: 2
I: 5, J: 3
I: 5, J: 4
I: 5, J: 5
I: 5, J: 6
I: 6, J: 0
I: 6, J: 1
I: 6, J: 2
I: 6, J: 3
I: 6, J: 4
I: 6, J: 5
I: 6, J: 6
I: 7, J: 0
I: 7, J: 1
I: 7, J: 2
I: 7, J: 3
I: 7, J: 4
I: 7, J: 5
I: 7, J: 6
I: 8, J: 0
I: 8, J: 1
I: 8, J: 2
I: 8, J: 3
I: 8, J: 4
I: 8, J: 5
I: 8, J: 6
I: 9, J: 0
I: 9, J: 1
I: 9, J: 2
I: 9, J: 3
I: 9, J: 4
I: 9, J: 5
I: 9, J: 6

In [12]:
i = 1 
while i <= 3:
    j = 1
    while j <= 5:
        print(f"{i} x {j} = {i*j}")
        j += 1
    i += 1
    print("----")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
----
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
----
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
----

In [13]:
while True:
    print("\nMenu")
    print("1. Greet")
    print("2. Exit")
    choice = input("Enter your choice: ")
    if choice == "1":
        print("Hello! Welcome to the Menu System.")
    elif choice == "2":
        print("Exiting...")
        break
    else:
        print("Invalid Choice. Try again.")

Menu
1. Greet
2. Exit

Enter your choice:  3

Invalid Choice. Try again.

Menu
1. Greet
2. Exit

Enter your choice:  5

Invalid Choice. Try again.

Menu
1. Greet
2. Exit

Enter your choice:  1

Hello! Welcome to the Menu System.

Menu
1. Greet
2. Exit

Enter your choice:  2

Exiting...

-------------------------------------------------------------------------------------------------------------------------------

A tuple is a collection which is ordered and immutable(cannot be changed). Tuples are used to store multiple items in a single variable.

Sytax

My_tuple = (item1, item2,.........)

In [16]:
empty_tuple = ()
print(empty_tuple, type(empty_tuple))


mixed_tuple = (1, 'hello', 3.14, True)
print(mixed_tuple)

() <class 'tuple'>
(1, 'hello', 3.14, True)

In [17]:
print(mixed_tuple[0])
print(mixed_tuple[-1])

1
True

In [19]:
numbers = (1, 2, 3)
more_numbers = (4, 5)

# Concatenation

print(numbers + more_numbers)

print(numbers*2)

(1, 2, 3, 4, 5)
(1, 2, 3, 1, 2, 3)

In [21]:
my_list = [1, 2, 3]
my_list[0] = 99
print(my_list)

my_tuple = (1, 2, 3)
my_tuple[0] = 99

[99, 2, 3]

TypeError: 'tuple' object does not support item assignment

In [23]:
numbers = (1, 2, 3)
print(numbers.count(2))
print(numbers.index(3))

1
2

In [24]:
packed = 1, 'AI', 7.5

x, y, z = packed
print(x, y, z)

1 AI 7.5

Assignment
 - Create a tuple of 5 fruits. Access the second fruit and try to replace it.

Dictonaries
 - A dictonary is a collection which is ordered, mutable, and stored in key-value pairs.

Sytax
 - my_dict = {'key1' : value1, 'key2' : value2}

In [25]:
empty_dict ={}
student = {'Name' : 'Omar', 'age' : 21, 'grade' : 'A' }
print(student)

{'Name': 'Omar', 'age': 21, 'grade': 'A'}

In [26]:
print(student['Name'])

Omar

In [27]:
print(student['age'])

21

In [28]:
print(student['grade'])

A

In [30]:
print(student.get('school', 'Not Found'))

Not Found

In [31]:
student['age'] = 23
student['city'] = 'Faisalabad'
print(student)

{'Name': 'Omar', 'age': 23, 'grade': 'A', 'city': 'Faisalabad'}

In [32]:
if 'grade' in student:
    del student['grade']
print(student)

{'Name': 'Omar', 'age': 23, 'city': 'Faisalabad'}

In [33]:
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['Name', 'age', 'city'])
dict_values(['Omar', 23, 'Faisalabad'])
dict_items([('Name', 'Omar'), ('age', 23), ('city', 'Faisalabad')])

In [37]:
classroom = {
    'student1' : {'name' : 'Ali', 'age' : 22},
    'student2' : {'name' : 'Moaavia', 'age' : 20}
}

print(classroom['student2']['name'])

Moaavia

Assigntment --> create a dictonary for a book with keys: title , author , year and price. 
2. acces a key which is not in the dict.